@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Light.d0b378a.eot"),
    url("/fonts/kalame/Kalameh-Light.6e146d5.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Light.b773d9e.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Regular.25a8bec.eot"),
    url("/fonts/kalame/Kalameh-Regular.42b8a54.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Regular.a038ae9.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Medium.e201a39.eot"),
    url("/fonts/kalame/Kalameh-Medium.b309fcf.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Medium.bc89e61.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Bold.7dedd20.eot"),
    url("/fonts/kalame/Kalameh-Bold.337ad92.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Bold.cc91ac9.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.woff") format("woff");
}

.font-kalameh {
  font-family: "Kalame", sans-serif;
}
.font-kalamehNum {
  font-family: "KalameNum", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kalameh: "Kalameh", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

@keyframes dotGrowIn {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  40% {
    transform: scale(0);
    box-shadow: none;
  }
  55% {
    transform: scale(1.2);
    box-shadow: none;
  }
  58% {
    transform: scale(0.9);
    box-shadow: none;
  }
  61% {
    transform: scale(1.1);
    box-shadow: none;
  }
  64% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
  94% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
  100% {
    transform: scale(0);
    box-shadow: none;
  }
}

.dot-anim {
  animation: dotGrowIn 10s ease-in-out infinite;
  will-change: transform, box-shadow;
  transform-origin: center;
  transform: scale(0);
}

@keyframes subtitleXS {
  0% {
    width: 0px;
  }
  20% {
    width: 0px;
  }
  30% {
    width: 80px;
  }
  40% {
    width: 80px;
  }
  50% {
    width: 184px;
  }
  60% {
    width: 184px;
  }
  70% {
    width: 260px;
  }
  90% {
    width: 260px;
  }
  100% {
    width: 0px;
  }
}

@keyframes subtitleLG {
  0% {
    width: 0px;
  }
  20% {
    width: 0px;
  }
  30% {
    width: 200px;
  }
  40% {
    width: 200px;
  }
  50% {
    width: 460px;
  }
  60% {
    width: 460px;
  }
  70% {
    width: 646px;
  }
  90% {
    width: 646px;
  }
  100% {
    width: 0px;
  }
}

.subtitle-anime {
  animation: subtitleXS 10s ease forwards infinite;
  width: 0px;
}

@media (min-width: 1024px) {
  .subtitle-anime {
    animation: subtitleLG 10s ease forwards infinite;
    width: 0px;
  }
}

@keyframes titleXS {
  0% {
    width: 0px;
  }
  10% {
    width: 100px;
  }
  90% {
    width: 100px;
  }
  100% {
    width: 0px;
  }
}

@keyframes titleLG {
  0% {
    width: 0px;
  }
  10% {
    width: 254px;
  }
  90% {
    width: 254px;
  }
  100% {
    width: 0px;
  }
}

.title-anime {
  animation: titleXS 10s ease forwards infinite;
  width: 0px;
}

@media (min-width: 1024px) {
  .title-anime {
    animation: titleLG 10s ease forwards infinite;
    width: 0px;
  }
}

.moving-gradient {
  background: linear-gradient(
    to right,
    rgba(254, 178, 53, 0) 0%,
    #feb235 50%,
    rgba(254, 178, 53, 0) 100%
  );
  animation: moveGradient 3s linear infinite;
}

@keyframes moveGradient {
  0% {
    transform: translateX(-300px); /* start just outside left */
  }
  100% {
    transform: translateX(100vw); /* move all the way past right */
  }
}

.chart-line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.animate-draw {
  animation: draw 10s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes chartDotGrowIn {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  40% {
    transform: scale(0);
    box-shadow: none;
  }
  55% {
    transform: scale(1.2);
    box-shadow: none;
  }
  58% {
    transform: scale(0.9);
    box-shadow: none;
  }
  61% {
    transform: scale(1.1);
    box-shadow: none;
  }
  64% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
}

.chart-dot-anim {
  animation: chartDotGrowIn 2s forwards;
  will-change: transform, box-shadow;
  transform-origin: center;
  transform: scale(0);
}

@media (min-width: 1024px) {
  .chart-dot-anim {
    animation-duration: 8s; /* override duration */
  }
}

@keyframes chartBadgeGrowIn {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  40% {
    transform: scale(0);
    box-shadow: none;
  }
  55% {
    transform: scale(1.2);
    box-shadow: none;
  }
  58% {
    transform: scale(0.9);
    box-shadow: none;
  }
  61% {
    transform: scale(1.1);
    box-shadow: none;
  }
  64% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.badge-anim {
  animation: chartBadgeGrowIn 2s forwards;
  will-change: transform, box-shadow;
  transform-origin: center;
  transform: scale(0);
}

@media (min-width: 1024px) {
  .badge-anim {
    animation-duration: 8s; /* override duration */
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-400px) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(400px) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.coin-enter-left {
  animation: slideInLeft 1s ease-out forwards, float 3s ease-in-out infinite 1s;
  opacity: 0
}

.coin-enter-right {
  animation: slideInRight 1s ease-out forwards, float 3s ease-in-out infinite 1s;
  opacity: 0
}

@keyframes firstSwipingCards {
  0% {
    width: 60px;
  }
  3.3%, 33.3% {
    width: 444px;
  }
  36.3%, 100% {
    width: 60px;
  }
}

.first-swipe-anime {
  animation: firstSwipingCards 10s linear infinite forwards;
}

@keyframes secondSwipingCards {
  0%, 36.3% {
    width: 60px;
  }
  39.6%, 63.3% {
    width: 444px;
  }
  66.6%, 100% {
    width: 60px;
  }
}

.second-swipe-anime {
  animation: secondSwipingCards 10s linear infinite forwards;
}

@keyframes thirdSwipingCards {
  0%, 66.6% {
    width: 60px;
  }
  69.9%, 96.6% {
    width: 444px;
  }
  100% {
    width: 60px;
  }
}

.third-swipe-anime {
  animation: thirdSwipingCards 10s linear infinite forwards;
}

@keyframes firstVerticalBadgeAnime {
  0% {
    left: 0px;
  }
  3.3%, 33%{
    left: -60px
  }
  36.3%, 100% {
    left: 0px;
  }
}

.first-vertical-badge-anime {
  animation: firstVerticalBadgeAnime 10s linear infinite forwards;
}

@keyframes secondVerticalBadgeAnime {
  0%, 36.3% {
    left: 0px;
  }
  39.6%, 63.3% {
    left: -60px;
  }
  66.6%, 100% {
    left: 0px;
  }
}

.second-vertical-badge-anime {
  animation: secondVerticalBadgeAnime 10s linear infinite forwards;
}

@keyframes thirdVerticalBadgeAnime {
  0%, 66.6% {
    left: 0px;
  }
  69.9%, 96.6% {
    left: -60px;
  }
  99.9%, 100% {
    left: 0px;
  }
}

.third-vertical-badge-anime {
  animation: thirdVerticalBadgeAnime 10s linear infinite forwards;
}

@keyframes firstHorizontalBadgeAnime {
  0% {
    bottom: -60px;  
  }
  3.3%, 33.3% {
    bottom: 0px;
  }
  36.3%, 100% {
    bottom: -60px;
  }
}

.first-horizontal-badge-anime {
  animation: firstHorizontalBadgeAnime 10s linear infinite forwards;
}


@keyframes secondHorizontalBadgeAnime {
  0%, 36.3% {
    bottom: -60px;
  }
  39.6%, 63.3% {
    bottom: 0px;
  }
  66.6%, 100% {
    bottom: -60px;
  }
}

.second-horizontal-badge-anime {
  animation: secondHorizontalBadgeAnime 10s linear infinite forwards;
}


@keyframes thirdHorizontalBadgeAnime {
  0%, 66.6% {
    bottom: -60px;
  }
  69.9%, 96.6% {
    bottom: 0px;
  }
  100% {
    bottom: -60px;
  }
}

.third-horizontal-badge-anime {
  animation: thirdHorizontalBadgeAnime 10s linear infinite forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}
