@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Light.d0b378a.eot"),
    url("/fonts/kalame/Kalameh-Light.6e146d5.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Light.b773d9e.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Regular.25a8bec.eot"),
    url("/fonts/kalame/Kalameh-Regular.42b8a54.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Regular.a038ae9.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Medium.e201a39.eot"),
    url("/fonts/kalame/Kalameh-Medium.b309fcf.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Medium.bc89e61.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kalame";
  src: url("/fonts/kalame/Kalameh-Bold.7dedd20.eot"),
    url("/fonts/kalame/Kalameh-Bold.337ad92.woff") format("woff"),
    url("/fonts/kalame/Kalameh-Bold.cc91ac9.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KalameNum";
  src: url("/fonts/kalame/KalamehWebFaNum-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.woff") format("woff");
}

.font-kalameh {
  font-family: "Kalame", sans-serif;
}
.font-kalamehNum {
  font-family: "KalameNum", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kalameh: "Kalameh", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

@keyframes dotGrowIn {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  40% {
    transform: scale(0);
    box-shadow: none;
  }
  55% {
    transform: scale(1.2);
    box-shadow: none;
  }
  58% {
    transform: scale(0.9);
    box-shadow: none;
  }
  61% {
    transform: scale(1.1);
    box-shadow: none;
  }
  64% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
  94% {
    transform: scale(1);
    box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.8);
  }
  100% {
    transform: scale(0);
    box-shadow: none;
  }
}

.dot-anim {
  animation: dotGrowIn 10s ease-in-out infinite;
  will-change: transform, box-shadow;
  transform-origin: center;
}

@keyframes widthXS {
  0% {
    width: 0px;
  }
  20% {
    width: 0px;
  }
  30% {
    width: 80px;
  }
  40% {
    width: 80px;
  }
  50% {
    width: 184px;
  }
  60% {
    width: 184px;
  }
  70% {
    width: 260px;
  }
  90% {
    width: 260px;
  }
  100% {
    width: 0px;
  }
}

@keyframes widthLG {
  0% {
    width: 0px;
  }
  20% {
    width: 0px;
  }
  30% {
    width: 200px;
  }
  40% {
    width: 200px;
  }
  50% {
    width: 460px;
  }
  60% {
    width: 460px;
  }
  70% {
    width: 646px;
  }
  90% {
    width: 646px;
  }
  100% {
    width: 0px;
  }
}

.animate-width {
  animation: widthXS 10s ease forwards infinite;
}

@media (min-width: 1024px) {
  .animate-width {
    animation: widthLG 20s ease forwards infinite;
  }
}
